<div class="row">
  <div class="col-xs-12">
      <form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group">
          <label for="start">Audio start</label>
          <input
            class="form-control"
            name="start"
            type="range"
            min="0"
            [max]="maxDuration"
            step=0.001
            #s
            [(ngModel)]="start">
          <p>{{s.value}}s</p>
        </div>
        <div class="form-group">
          <label for="end">Audio end</label>
          <input
            class="form-control"
            name="end"
            type="range"
            min="0"
            step="0.001"
            [max]="maxDuration"
            #e
            [(ngModel)]="end">
          <p>{{e.value}}s</p>
        </div>
        <div class="form-group">
          <label for="name">Clip name</label>
          <input
            class="form-control"
            type="text"
            name="title"
            #n="ngModel"
            [(ngModel)]="title"
            required>
          <div 
            *ngIf="!n.valid"
            class="alert alert-warning">
            A name for the clip is required.
          </div>
          <div 
            class="alert alert-success"
            *ngIf=n.valid>
            Command for playback: ~{{n.value}}
          </div>
        </div>
        <div *ngIf="trimmerResponse.statusCode === 0">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="button" (click)="trim()">Trim</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" [disabled]="!f.valid">Create clip</button>
            </div>
          </div>
        </div>
        <div *ngIf="trimmerResponse.statusCode === -1">
          <div class="loader">Loading...</div>
        </div>
        <div *ngIf="trimmerResponse.statusCode === 200">
          <div class="jumbotron">
            <h1>It's ready! Now go spam your channel with ~{{command}}</h1>
          </div>
        </div>
        <div *ngIf="trimmerResponse.statusCode === 400">
          <div class="jumbotron">
            <h1>{{ trimmerResponse.description }}</h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" [disabled]="!f.valid">Try another name</button>
            </div>
          </div>
        </div>
        <div *ngIf="trimmerResponse.statusCode > 400">
          <div class="jumbotron">
            <h1>Error</h1>
          </div>
        </div>
      </form>
  </div>
</div>
